.main-footer__menu-item[data-v-312de782] {
    margin-bottom: 12px;
    padding: 0 12px
}

.main-footer[data-v-312de782] {
    position: relative;
    font-size: 14px;
    color: var(--color-text-secondary);
    width: 100%;
    padding-top: 16px;
    background: var(--color-background-primary)
}

.main-footer__content[data-v-312de782] {
    text-align: center;
    width: 100%;
    background-color: var(--color-background-quaternary);
    padding: 24px 48px
}

.main-footer__link[data-v-312de782] {
    transition: color .1s ease-in-out;
    white-space: nowrap
}

.main-footer__link[data-v-312de782]:focus,
.main-footer__link[data-v-312de782]:hover {
    color: var(--color-link-secondary)
}

.main-footer__link[data-v-312de782]:first-of-type {
    padding-left: 0
}

.main-footer__wave[data-v-312de782] {
    width: 100%;
    height: 56px;
    color: var(--color-background-secondary)
}

.main-footer__background[data-v-312de782] {
    width: -moz-max-content;
    width: max-content;
    background-color: var(--color-background-secondary)
}

.main-footer__background--dark[data-v-312de782] {
    display: none
}

.main-footer__menu[data-v-312de782] {
    display: flex;
    align-items: center
}

.main-footer__menu-list[data-v-312de782] {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%
}

.main-footer__menu-social[data-v-312de782] {
    display: inline-block;
    width: 100%
}

.main-footer__menu-social .main-footer__menu-item[data-v-312de782] {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    height: 30px;
    width: 30px
}

.main-footer__menu-social .main-footer__menu-item+.main-footer__menu-item[data-v-312de782] {
    margin-left: 16px
}

.main-footer__menu-social .main-footer__link[data-v-312de782] {
    display: inline-block;
    width: 30px;
    height: 30px
}

.main-footer__social-icon[data-v-312de782] {
    color: #333;
    height: 30px;
    width: 30px
}

.main-footer__social-icon[data-v-312de782]:hover {
    color: #6c6c6c
}

.dark .main-footer__background--light[data-v-312de782] {
    display: none
}

.dark .main-footer__background--dark[data-v-312de782] {
    display: block
}

.dark .main-footer__social-icon[data-v-312de782] {
    color: #fff
}

.dark .main-footer__social-icon[data-v-312de782]:hover {
    color: #deded9
}

.main-footer__feedback-button[data-v-312de782] {
    margin-top: 12px
}

.main-footer__trees-container[data-v-312de782] {
    position: relative;
    background: var(--color-background-secondary);
    padding-top: 16px;
    display: flex;
    flex-direction: column
}

.main-footer__card-container[data-v-312de782] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.footer-bcorp {
    background-image: url(https://cdn-static.ecosia.org/indexpage/assets/b-corp.b19bdb98.svg);
    background-size: cover;
    display: block;
    height: 98px;
    width: 64px;
    margin: 0 auto 40px
}

.footer-menu {
    font-family: "Inter", helvetica, arial, sans-serif;
    color: var(--color-text-secondary);
    white-space: nowrap
}

.footer-menu ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-menu__link {
    margin-bottom: 16px
}

.footer-menu__link:last-child {
    margin-bottom: 0
}

.footer-menu__title {
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 16px;
    text-transform: uppercase
}


.footer-social {
    display: block;
    border-top: 1px solid var(--color-decorative-border-1);
    margin: 0 auto;
    padding: 40px 0 0;
    text-align: center
}

.footer-social__list {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-social__link,
.footer-social__list {
    display: flex;
    height: 30px;
    justify-content: center
}

.footer-social__link {
    width: 30px;
    align-items: center
}

.footer-social__item:not(:last-of-type) {
    margin-right: 8px
}

.footer-social__icon {
    transform: scale(1.3)
}

.footer-social__legal {
    color: var(--color-link-secondary);
    font-family: "Inter", helvetica, arial, sans-serif;
    font-size: 12px;
    margin: 32px auto 0;
    max-width: 736px;
    text-align: center
}

.footer-social__legal a {
    font-weight: 700
}

.full-footer[data-v-186a190d] {
    background-color: var(--color-background-primary);
    padding: 32px 60px 20px;
    position: relative;
    text-align: center
}

.full-footer__wave[data-v-186a190d] {
    height: 36px;
    top: -35px;
    color: var(--color-background-primary);
    width: 100%;
    position: absolute;
    left: 0
}

.full-footer__content[data-v-186a190d] {
    padding-bottom: 16px
}

@media only screen and (min-width:768px) {
    .main-footer__menu-item[data-v-312de782]:first-of-type {
        padding-left: 0
    }

    .main-footer__menu-item[data-v-312de782]:last-of-type {
        padding-right: 0
    }
    .footer-bcorp {
        margin: 4px 0
    }
    .footer-menu__title {
        margin-top: 0
    }
    .full-footer[data-v-186a190d] {
        text-align: left
    }
    .full-footer__wave[data-v-186a190d] {
        height: 88px;
        top: -87px
    }
    .full-footer__content[data-v-186a190d] {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        gap: 20px;
        justify-content: space-between;
        padding-bottom: 40px
    }
}

@media only screen and (min-width:992px) {
    .main-footer__menu-item[data-v-312de782] {
        margin-bottom: 0
    }
    .main-footer[data-v-312de782] {
        padding-top: 32px
    }
    .main-footer__content[data-v-312de782] {
        padding: 8px 24px;
        display: flex;
        justify-content: space-between;
        margin: 0
    }
    .main-footer__menu-social[data-v-312de782] {
        width: auto
    }
    .main-footer__menu-social .main-footer__menu-item[data-v-312de782] {
        height: unset;
        width: unset
    }
    .main-footer__menu-social .main-footer__menu-item+.main-footer__menu-item[data-v-312de782] {
        margin-left: 10px
    }
    .main-footer__menu-social .main-footer__link[data-v-312de782] {
        width: 24px;
        height: 24px
    }
    .main-footer__social-icon[data-v-312de782] {
        height: unset;
        width: unset
    }
    .footer-social__item:not(:last-of-type) {
        margin-right: 16px
    }
    .main-footer__feedback-button[data-v-312de782] {
        margin-top: 0;
        margin-left: 10px
    }
    .main-footer__trees-container[data-v-312de782] {
        padding-top: 0
    }

    .main-footer__trees-container .main-footer__card-container[data-v-312de782] {
        position: absolute;
        bottom: 24px;
        left: 20px;
        margin: 0
    }
    .main-footer__card-container[data-v-312de782] {
        flex-wrap: unset
    }
}

@media only screen and (min-width:1200px) {

    .full-footer__content[data-v-186a190d],
    .full-footer__social[data-v-186a190d] {
        margin: 0 auto;
        max-width: 980px;
        text-align: left
    }
    .footer-bcorp {
        height: 115px;
        width: 75px
    }
}