.main-header__content {
    padding: 0 16px 16px;
    position: relative;
    z-index: 2
}

.main-header__content>* {
    flex-shrink: 0
}

.main-header--with-verticals .main-header__content {
    padding-bottom: 0
}

.main-header--border .main-header__content {
    border-bottom: 1px solid var(--color-decorative-border-1)
}

.main-header:not(.main-header--transparent) .main-header__content {
    background: var(--color-background-primary)
}

@media only screen and (min-width:768px) {
    .main-header__content {
        padding: 0 12px 16px
    }
}

@media only screen and (min-width:992px) {
    .main-header__content {
        padding: 0 24px
    }
}

.main-header__navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 8px;
    width: 100%;
    transition: padding .2s ease-in-out
}

.main-header__navigation:last-child {
    padding-bottom: 16px
}

@media only screen and (min-width:992px) {
    .main-header__navigation {
        flex-wrap: nowrap;
        padding-top: 16px
    }
}

.main-header--minimal .main-header__navigation {
    padding-top: 8px;
    padding-bottom: 8px
}

.main-header__logo {
    align-self: center;
    margin-left: auto;
    order: 2
}

@media only screen and (min-width:768px) {
    .main-header__logo {
        align-self: auto
    }
}

@media only screen and (min-width:992px) {
    .main-header__logo {
        margin-left: 0;
        order: unset
    }
}

.main-header__logo-link {
    display: flex;
    height: 20px;
    width: 70px;
    position: relative
}

@media only screen and (min-width:992px) {
    .main-header__logo-link {
        margin-right: 24px
    }
}

.main-header__search {
    margin-top: 12px;
    order: 4;
    width: 100%
}

@media only screen and (min-width:992px) {
    .main-header__search {
        flex-shrink: 1;
        margin-top: 0;
        max-width: 660px;
        order: unset
    }

    .main-header__logo+.main-header__search {
        margin: 0 20px 0 0
    }
}

.main-header__nav {
    order: 3;
    margin-left: auto
}

@media only screen and (min-width:992px) {
    .main-header__nav {
        margin-left: unset
    }
}